.form-container{
  display: flex;
}

.form-itself{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.submit-button{
  width: fit-content;
}

label{
  padding: 20px;
}